---
layout: default
---
<header>
  <div class="container">
    <h1>Hi, I'm Zach</h1>
    <p>I'm a Data Engineer at Mastercard. I studied Quantitative Social Science and Computer Science at Dartmouth. My thesis looked at how tech tools support college counseing. I also did improv and ran for fun when it wasn't zero degrees.</p>
  </div>
</header>
<section>
  {% for post in site.posts %}
    <div class="bg-full">
      <div class="bg" style="background-color: {{ post.color }};"></div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="camo">
        <div class="container">
          <h2>{{ post.title }}</h2>
          <p>{{ post.excerpt }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% include footer.html %}
