---
layout: default
---
<header>
  <div class="container">
    <h1>Hi, I'm Zach</h1>
    <p>I'm a Data Engineer at Mastercard. I studied Quantitative Social Science and Computer Science at Dartmouth. My thesis looked at how tech tools support college counseing. I also did improv and ran for fun when it wasn't zero degrees.</p>
  </div>
</header>
<section>
  {% for post in site.posts %}
    <div class="container">
      <a href="{{ site.baseurl }}{{ post.url }}" 
        class="camo"
        onmouseover="setBg('{{ post.color }}')"
        onmouseout="unSetBg()">
        <h2>{{ post.title }}</h2>
        <p>{{ post.excerpt }}</p>
      </a>
    </div>
  {% endfor %}
</section>

{% include footer.html %}

<script>
  const defaultBackgroundBody = '#fff';
  const defaultBackgroundHeader = '#efefef';

  function setBg(color) {
    document
      .querySelectorAll('body, header')
      .forEach(elem => {
        elem.style['background-color'] = color;
      });
  }

  function unSetBg() {
    document
      .querySelector('body')
      .style['background-color'] = defaultBackgroundBody;
    document
      .querySelector('header')
      .style['background-color'] = defaultBackgroundHeader;
  }
</script>
