<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<h4>This is the footer. There are many like it but this one is mine.</h4>
				<h4 class="footer-links">
					<a href="https://linkedin.com/in/zachschnell"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
					<a href="https://github.com/zchr"><i class="fa fa-github" aria-hidden="true"></i></a>
					<a href="https://angel.co/zachschnell"><i class="fa fa-angellist" aria-hidden="true"></i></a>
				</h4>
			</div>
		</div>
	</div>
</footer>