h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p, ul {
	font-family: 'Lora', serif;
	margin: 0 0 25px;
}

#header {
	margin-bottom: 15px;
}

#all-posts .container {
	width: 100%;
}

#all-posts .row div {
	padding-left: 0;
	padding-right: 0;
}

.row div img {
	max-width: 100%;
}

#all-posts .row div a {
	color: #000;
}

#all-posts .row div a:hover {
	text-decoration: none;
}

#all-posts .row div a:hover h2 {
	text-decoration: underline;
}

#all-posts .row div h2 {
	font-size: 25px;
	padding: 0 10px;
}

#all-posts .row div p {
	padding: 0 10px;
}

#all-posts .row div[class^="post-"] {
	min-width: 50%;
}

#all-posts .row .photo-post div[class^="post-"] {
	color: #fff;
}

#all-posts .row .photo-post {
	background-color: #333;
} 

.this-photo-desc, .other-photo {
	padding-top: 10px;
	padding-bottom: 20px;
}

.text-post img {
	max-width: 100%;
}

.text-post h1 a i.fa-home {
	color: rgba(170,170,170,.4);	
}

.text-post h1 a i.fa-home:hover {
	color: #333;
}

.text-post p.tags .tag {
	background-color: rgba(1, 210, 115, .3);
	color: #01a55a;	
    	margin: 2px 0;
	padding: 4px 8px;
}

.text-post p img + em {
	display: block;
	padding-top: 5px;
	padding-bottom: 30px;
}

footer {
	padding: 15px 0;
	margin-top: 100px;
	border-top: 1px solid #b0b0b0;
	box-shadow: 0 2px 5px #bbb inset;
	background-color: #ccc;
	color: #fff;
}

footer .footer-links {
	text-align: center;
}

footer .footer-links a, footer .footer-links a:visited {
	color: #fff;
	margin: 10px;
}

@media (max-width: 768px) {
	.this-photo, .other-photo {
		padding: 15px 0 0 0;
	}

	#all-posts .container {
		margin: 0;
		padding: 0;
	}

	.container .row {
		margin: 15px 0;
	}

	.text-post p img + em {
		padding-bottom: 20px;
	}	
}

@media (max-width: 1400px) {
	.text-post img {
		max-height: 750px;
	}
}

@media (min-width: 768px) {
	#header, .text-post h1, .about-photos h1 {
		margin: 15% 0 5% 0;
	}

	h1 {
		font-size: 50px;
	}
	
	#all-posts .row div h2 {
		font-size: 30px;
	}

	p, ul {
		font-size: 18px;
	}

	.this-photo {
		padding: 15px 15px 0 15px;
	}
}
